.title {
    background: linear-gradient(90deg, rgba(117,139,253,1) 0%, rgba(174,184,254,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0!important;
}

.right-block {
    margin-left: 2rem;
}

h1 {
    margin: 0;
}

.main {
    width: max-content;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(166, 166, 166, 0.3);
    padding: 2rem;
    border-radius: 1rem ;
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    background: rgba(174, 184, 254, 0.47);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#btn {
    width: 100%;
}

#link {
    color:#f1f2f6;
    transition: all 0.5s;
}

#link:hover {
    color: #27187e;
}

