#main1{
    background-color: linear-gradient(90deg, rgb(36, 167, 132) 0%, rgba(2,0,36,1) 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#regDiv{
    border-radius: 18%;
    box-shadow: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color:#38a3a5;
    width: 20rem;
    height: 25rem;
}
.inputs{
    width: 13rem;
    height: 2rem;
    background-color: #38a3a5;
    border: none; /* Remove all borders */
    border-bottom: 2px solid #000;
    margin-bottom: 1rem;
    
}
.inputs::placeholder{
    color: #fff    ;
}
#regButton{
    width: 13rem;
    height: 2.5rem;
    border-radius: 42%;
    background-color: #fff  ;
}