.logo {
    height: 3rem;
}

.app-header {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 0.05rem solid var(--secondary-color);
}

.reg-block {
    display: flex;
    right: 0rem;
    justify-content: space-between;
}

#reg {
    transition: 0.3s ease;
}

#log {
    transition: 0.3s ease;
}

#reg:hover {
    color: #27187e;
    border-color: #27187e;
    transform: scale(1.1);
}

#log:hover {
    transform: scale(1.1);
}
