.logo {
    width: 8rem;
    margin-top: 0.75rem;
}

.app-header {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 0.05rem solid #aeb8fe;
}

.reg-block {
    display: flex;
    right: 0rem;
    justify-content: space-between;
}

#reg {
    transition: 0.3s ease;
}

#log {
    transition: 0.3s ease;
}

#reg:hover {
    color: #38a3a5;
    border-color: #38a3a5;
    transform: scale(1.1);
}

#log:hover {
    transform: scale(1.1);
}
