#navbar {
    display: flex;
    justify-content: center;
    margin: 1rem 2rem;
    background: rgba(87, 204, 153, 0.46);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(87, 204, 153, 0.33);
}
