#sidebar{
    border: 0.5px solid;
    border-radius: 0.5rem;
    position: absolute;
    right: 2rem;
    margin-left: auto; 
    text-align: left;
    background: rgba(56, 163, 165, 0.64);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(56, 163, 165, 0.33);
}