.footer {
    display: block;
    position: absolute;
    width: 100%;
    background: rgb(0,223,162);
    background: linear-gradient(90deg, rgba(0,223,162,1) 0%, rgba(2,0,36,1) 100%);
    color: #fff;
    text-align: center;
    padding: 15px;
}
  
.container {
  margin: 0 auto;
}