  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    bottom: -125px;
    position: absolute;
    right: 0;
    left: 0;
    align-items: center;
    max-height: 100px;
  }
  
  .footer-logo img {
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
  }
  
  .footer-section {
    flex: 1;
    margin: 0 20px;
    text-align: center;
    justify-content: center;
    align-items:  flex-start;
  }
  
  h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 0.9rem;
    line-height: 1.4;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Style links on hover */
  a:hover {
    text-decoration: underline;
  }

  #about-us{
    padding-left: 70px;
  }