#side-news{
    display: block;
    right: 2rem;
    margin-left: auto; 
    box-sizing: border-box;
    position: absolute;
}

#footer{
    display: block;
    position: absolute;
    max-height: 20px;
}