#side-news{
    margin-right: 2rem;
    margin-bottom: 1rem;
    flex: 0.2;
}

#wrapper {
    display: flex;
    width: 100%;
}

#content {
    margin-left: 2rem;
    flex: 0.8;
    margin-bottom: 1rem;
}

#footer {
    bottom: -1rem;
}