#side-news{
    align-items: start;
    margin-right: 2rem;
    margin-bottom: 1rem;
    flex: 0.2;
}

#wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 1rem;
}

#content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 78.5vh;
    margin-left: 2rem;
    flex: 0.8;
    margin-bottom: 1rem;
    width: auto;
    padding: 1rem;
    border-radius: 1rem ;
    margin-right: 2rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(166, 166, 166, 0.3);
}

#footer {
    bottom: -1rem;
}

.ant-list-empty-text {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 10px 0;
    min-height: 76vh;
    height: 100%;
}

#spin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    min-height: 75vh;
}
